[tool.poetry]
name = "apax"
version = "0.1.0"
description = "Atomistic Learned Potential Package in JAX"
authors = ["Moritz René Schäfer <schaefer@theochem.uni-stuttgart.de>", "Nico Segreto <segreto@theochem.uni-stuttgart.de>"]
keywords=["machine-learning", "interatomic potentials", "molecular-dynamics"]
license = "MIT"
readme = "README.md"
packages = [{include = "apax"}]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
numpy = "^1.23"
ase = "^3.22.1"
pydantic = "^1.10.2"
tensorflow-cpu = "^2.11.0"
jax = "0.4.13"
jaxlib = "0.4.13"
chex = "^0.1.5"
optax = "^0.1.3"
jax-md = "0.2.5"
einops = "^0.6.0"
clu = "^0.0.7"
jaxtyping = "^0.2.8"
typer = "^0.7.0"
lazy-loader = "^0.2"
matscipy = "^0.8.0"
znh5md = "^0.1.7"
e3nn-jax = "0.19.1" # avoid clash with jaxmd

[tool.poetry.scripts]
apax = 'apax.cli.apax_app:app'

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"
pytest-xdist = "^3.0.2"
black = "^22.10.0"
mkdocs = "^1.4.2"
coverage = {extras = ["toml"], version = "^6.4.2"}
matplotlib = "^3.6.2"
pre-commit = "^2.20.0"
isort = "^5.10.1"
flake8 = "^5.0.4"
sphinx-autodoc-typehints = "^1.21.8"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = ["ignore::FutureWarning:jax.*scatter",]

[tool.black]
line-length = 90
preview = true

[tool.isort]
profile = 'black'
multi_line_output = 3

[tool.coverage.run]
branch = true
source = ["apax"]

[tool.coverage.html]
directory = "coverage_html_report"

[tool.coverage.report]
show_missing = true