ensemble:
  name: nvt
  dt: 0.5 # fs time step
  temperature_schedule:
    name: constant
    T0: <T> # K
  thermostat_chain:
    chain_length: 3
    chain_steps: 2
    sy_steps: 3
    tau: 100

duration: <DURATION> # fs
n_inner: 500 # compiled innner steps
sampling_rate: 10  # dump interval
buffer_size: 2500
dr_threshold: 0.5 # Neighborlist skin
extra_capacity: 0

sim_dir: md
initial_structure: <INITIAL_STRUCTURE>
load_momenta: false
traj_name: md.h5
restart: true
checkpoint_interval: 50_000
disable_pbar: false
